ul.ul-edu li {
    position: relative;
    padding: 0px 15px 20px 3px;
}

ul.ul-edu li .description p {
  margin: 0;
}
  
ul.ul-edu li .description p.course {
   font-size: 1.0rem;
}
  
ul.ul-edu li .description p.institution {
  font-size: 0.8rem;
  color: rgba(0,0,0,0.6);
}

ul.ul-edu li .description p.institution a{
  color: rgba(0,0,0,0.6);
  border-bottom: solid 1px transparent;
}

ul.ul-edu li .description p.detail{
  text-indent: 1em each-line;
  font-size: 0.8rem;
}

ul.ul-edu li .description p.detail a{
  font-size: 0.8rem;
  border-bottom: solid 1px transparent;
}

